---
import BaseLayout from "@layouts/Base.astro";
import { sortPostsByDateInDecOrder } from "@js/postSort.js";

let posts = await Astro.glob(["./posts/**/*.md", "./posts/**/*.mdx"]);
posts = sortPostsByDateInDecOrder(posts);
---
<BaseLayout>
  <h1>Astro</h1>
  <ul>
    {posts.map(post => (
      <li><a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>
</BaseLayout>
