---
import BaseLayout from "@layouts/Base.astro";
import { sortPostsByDateInDecOrder } from "@js/postSort.js";
import { formatDate } from "@js/dateFormat.js";

let posts = await Astro.glob(["./posts/**/*.md", "./posts/**/*.mdx"]);
posts = sortPostsByDateInDecOrder(posts);
---
<BaseLayout>
  <h1>wlog</h1>
  <ul>
    {posts.map(post => (
    <li>
      <p class="title"><a href={post.url}>{post.frontmatter.title}</a></p>
      <p class="date">{formatDate(new Date(post.frontmatter.date))}</p>
    </li>
    ))}
  </ul>
</BaseLayout>

<style>
  h1 {
    font-size: 18pt;

    margin-bottom: 12pt;
  }

  li {
    margin: 12pt 0;
  }

  li .title {
    font-weight: bold;
  }

  li .date {
    font-size: 9.6pt;
  }
</style>
