---
const posts = await Astro.glob(["./posts/**/*.md", "./posts/**/*.mdx"]);
import BaseLayout from "@layouts/Base.astro";

posts.sort((post1, post2) => {
  const timestamp1 = new Date(post1.frontmatter.date);
  const timestamp2 = new Date(post2.frontmatter.date);

  // in decreasing order of timestamp; recent date first
  return timestamp2 - timestamp1;
});
---
<BaseLayout>
  <h1>Astro</h1>
  <ul>
    {posts.map(post => (
      <li><a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>
</BaseLayout>
