---
import BaseLayout from "./Base.astro";
const posts = await Astro.glob("../pages/posts/**/*");
posts.sort((post1, post2) => {
  const timestamp1 = new Date(post1.frontmatter.date);
  const timestamp2 = new Date(post2.frontmatter.date);

  // in decreasing order of timestamp; recent date first
  return timestamp2 - timestamp1;
});

const { title, date } = Astro.props.frontmatter;
const curIdx = posts.findIndex(post => post.frontmatter.date === date);
const prevPost = posts[curIdx-1];
const nextPost = posts[curIdx+1];
---
<BaseLayout { title }>
  <div>
    <h1>{ title }</h1>
    <p>Date: { date }</p>
    <slot />
  </div>
  <div>
    { nextPost && <p>Next: <a href={nextPost.url}>{nextPost.frontmatter.title}</a></p> }
    { prevPost && <p>Previous: <a href={prevPost.url}>{prevPost.frontmatter.title}</a></p> }
  </div>
</BaseLayout>
