---
import BaseLayout from "@layouts/Base.astro";
import { sortPostsByDateInDecOrder } from "@js/postSort.js";
import { formatDate } from "@js/dateFormat.js";

let posts = await Astro.glob("../pages/posts/**/*");
posts = sortPostsByDateInDecOrder(posts);

const { title, date } = Astro.props.frontmatter;
const curIdx = posts.findIndex(post => post.frontmatter.date === date);
const prevPost = posts[curIdx-1];
const nextPost = posts[curIdx+1];
---
<BaseLayout { title }>
  <div>
    <h1>{ title }</h1>
    <p>Date: { formatDate(new Date(date)) }</p>
    <slot />
  </div>
  <div>
    { nextPost && <p>Next: <a href={nextPost.url}>{nextPost.frontmatter.title}</a></p> }
    { prevPost && <p>Previous: <a href={prevPost.url}>{prevPost.frontmatter.title}</a></p> }
  </div>
</BaseLayout>
